.heading{
  text-align: center;
  margin-top: 2em;
}
.heading a{
 display: inline-block;
    position: sticky;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
}
.pageNumbers{
  list-style: none;
  display: flex;
  margin-left: 10em;
}
.pageNumbers li{
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  text-decoration: none;

}
.pageNumbers li.active{
  background-color: black;
  color: white;
}

.pageNumbers li button{
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li button:hover{
  background-color: black;
  color: white;
}
.footer {
  text-align: center;
  width: 100%;
  padding: 10px;
}